.Hello {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: black;
    padding: 20px;
    color: white;
    width: 250px;
    overflow-wrap: break-word;
}